<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>lec02</title>
</head>
<body>
    <div><a href="/logout">ログアウト</a></div>

    <h1>Lec02 GET!</h1>

    <p>Hi <div sec:authentication="name"></div></p>
    
    <p>Hi <span sec:ausec:authentication="name"/></p>
    <a href="/lec02janken?hand=0">グー</a>
    <a href="/lec02janken?hand=1">チョキ</a>
    <a href="/lec02janken?hand=2">パー</a>
    <div th:if="${userHand}">
        <p>あなたの手 [[${userHand}]]<br>
        相手の手 [[${cpuHand}]]<br>
        結果 [[${result}]]
    </p>
    </div>
</body>
</html>