<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
    <meta charset="UTF-8">
    <title>lec02</title>
</head>

<body>
    <div><a href="/logout">ログアウト</a></div>

    <h1>Lec02 GET!</h1>

    <!--ログインユーザ一覧-->
    <div th:if="${entry}">
        <p>エントリー</p>
        <div th:each="user,stat:${users}">
            <tr>
                <tb>ID:[[${user.id}]]</tb>
                <tb>name:[[${user.name}]]</tb>
            </tr>
        </div>
        <ul>
            <li th:each="user : ${entry.users}" th:text="${user}"></li>
        </ul>
    </div>

    <p>Hi <span sec:authentication="name"></span></p>

    <a href="/lec02janken?hand=0">グー</a>
    <a href="/lec02janken?hand=1">チョキ</a>
    <a href="/lec02janken?hand=2">パー</a>
    <div th:if="${userHand}">
        <p>あなたの手 [[${userHand}]]<br>
            相手の手 [[${cpuHand}]]<br>
            結果 [[${result}]]
        </p>
    </div>
    <div th:each="match,stat:${matches}">
        <tr>
            <tb>ID:[[${match.id}]]</tb>
            <tb>user1:[[${match.user1}]]</tb>
            <tb>user2:[[${match.user2}]]</tb>
            <tb>user1Hand:[[${match.user1Hand}]]</tb>
            <tb>user2Hand:[[${match.user2Hand}]]</tb>
        </tr>
    </div>
    
</body>

</html>